# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
.CLAUDE.md

# Ignore CLAUDE.md
CLAUDE.md

# Ignore .claude folder
.claude/

# Generated
src/main/generated/

ADDING_AN_ANIMAL.txt
PLANNED_FEATURES.md
